
header {
    background-color: #C06EFF;
    color: purple2; 
    text-align: center;
}


footer{
  #lightpurple;
    background-color: #D0B0FF;
    color:purple1;
    text-align: center;
    padding: 1em;
}


  

